@import "./variables.scss";

.cart-list-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  justify-content: center;
  color: $accent;
}
.cartItem {
  background: hsl(0, 0%, 100%);
  border-radius: 5px;
  box-shadow: $shadow;
  border: 1px solid $main;
  display: grid;
  grid-template-columns: 15% auto 20% 25%;
  align-items: center;
  grid-gap: 1rem;
  padding: 1rem;
  font-size: 0.7rem;
  color: $main;
  img {
    max-width: 40px;
  }
  h3 {
    cursor: pointer;
  }
  h3:hover {
    color: $accent;
  }
  select {
    border-width: 2px;
    border-color: $main;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    color: $main;
    min-width: 30px;
    font-weight: bold;
    cursor: pointer;
    option {
      font-weight: bold;
    }
  }
  .price-total-container {
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
  }
  button {
    border-radius: 5px;
    padding: 0.5rem;
    color: $main-font;
    font-weight: bold;
    background: $main;
    box-shadow: $shadow;
    border: 2px solid $accent;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
  }
  button:hover {
    transform: scale(1.05);
    background-color: $accent;
  }
  button:active {
    transform: scale(0.95);
  }
}
.checkout-container {
  background: $main;
  border-radius: 5px;
  box-shadow: $shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  color: $main-font;
  button {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: $main;
    background: $main-font;
    border: 1px solid $accent;
    box-shadow: $shadow;
    padding: 1rem;
    transition: background-color 0.25s ease-in-out;
  }
  button:hover {
    background: $accent;
    transform: scale(1.05);
    color: $main-font;
  }
  button:active {
    transform: scale(1);
  }
}
