@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header-container {
  position: fixed;
  background: $main;
  right: 0;
  left: 0;
  top: 0;
  padding: 0 1rem;
  color: $main-font;
  z-index: 10;
  box-shadow: 0 0 5px 5px hsla(0, 0%, 26%, 0.65);
  nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1rem 0;
    justify-content: space-between;
    width: 100%;
    h1 {
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 5px;
    }
    h1:hover {
      background: $hover;
    }
    h1:active {
      transform: scale(0.95);
    }
  }
}
.header-menu-container {
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.header-menu-container:hover {
  background: $hover;
}
.header-menu-container:active {
  transform: scale(0.95);
}
.header-menu-active-container {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 1rem;
  li {
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
    .cart-qty {
      background: $accent;
      border-radius: 50%;
      padding: 0.25rem;
      font-size: 0.8rem;
      font-weight: bold;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  li:hover {
    background: $hover;
  }
  li:active {
    transform: scale(0.95);
  }
}
body {
  padding: 2rem 0 0 0;
  background: $accent;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
main {
  background-image: url("/public/assets/pexels-min-an-1087727.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: hsla(0, 0%, 26%, 0.65);
  padding: 7rem 2rem 2rem 2rem;
  min-height: calc(100vh - 2rem);
  color: $main-font;
}
.page-container {
  max-width: 1600px;
  margin: 0 auto;
  min-height: calc(100vh - 12rem);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 $accent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
@media screen and (max-width: 1050px) {
  .page-container {
    padding: 0.5rem;
    all: unset;
  }
}
