@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.header-container {
  position: fixed;
  background: #7732f5;
  right: 0;
  left: 0;
  top: 0;
  padding: 0 1rem;
  color: #e7d3c5;
  z-index: 10;
  -webkit-box-shadow: 0 0 5px 5px rgba(66, 66, 66, 0.65);
          box-shadow: 0 0 5px 5px rgba(66, 66, 66, 0.65);
}

.header-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 1rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header-container nav h1 {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
}

.header-container nav h1:hover {
  background: rgba(66, 66, 66, 0.5);
}

.header-container nav h1:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.header-menu-container {
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.header-menu-container:hover {
  background: rgba(66, 66, 66, 0.5);
}

.header-menu-container:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.header-menu-active-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0 1rem;
}

.header-menu-active-container li {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-menu-active-container li .cart-qty {
  background: #2d145c;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: -5px;
}

.header-menu-active-container li:hover {
  background: rgba(66, 66, 66, 0.5);
}

.header-menu-active-container li:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

body {
  padding: 2rem 0 0 0;
  background: #2d145c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

main {
  background-color: #e7d3c5;
  padding: 7rem 2rem 2rem 2rem;
  min-height: calc(100vh - 2rem);
  color: #e7d3c5;
}

.page-container {
  max-width: 1600px;
  margin: 0 auto;
  min-height: calc(100vh - 12rem);
  padding: 1rem;
}

@media screen and (max-width: 1050px) {
  .page-container {
    padding: 0.5rem;
    all: unset;
  }
}
/*# sourceMappingURL=header.css.map */