@import "./variables.scss";

.hero-container {
  background: $main;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: $shadow;
  img {
    max-width: calc(50% - 1rem);
    border-radius: 5px;
  }
  .CTA-container {
    padding: 2rem 0;
    min-width: calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      text-align: center;
      color: $accent;
      margin-bottom: 1rem;
      font-size: 1.75rem;
    }
    p {
      padding: 0 2rem;
      margin-bottom: 2rem;
    }
    button {
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      color: $main;
      background: $main-font;
      border: 1px solid $accent;
      box-shadow: $shadow;
      padding: 1rem;
      margin: 1rem auto;
      transition: background-color 0.25s ease-in-out;
    }
    button:hover {
      background: $accent;
      transform: scale(1.05);
      color: $main-font;
    }
    button:active {
      transform: scale(1);
    }
  }
}
@media screen and (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    img {
      max-width: 100%;
    }
    .CTA-container {
      p {
        padding: 0 4rem;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .hero-container {
    .CTA-container {
      p {
        padding: 0 2rem;
      }
    }
  }
}
