@import "./variables.scss";
.product-page-container {
  background: hsl(0, 0, 100%);
  color: $main;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 auto;
  max-width: 900px;
  box-shadow: $shadow;
  img {
    max-width: 40%;
    display: block;
    margin: 0 auto;
  }
  .product-page-details-container {
    padding: 0 1rem;
    button {
      box-shadow: $shadow;
      text-transform: uppercase;
      font-weight: bold;
      margin: 1rem 0;
      cursor: pointer;
      color: $main;
      border: 1px solid $accent;
      padding: 1rem;
    }
    button:hover {
      background: hsla(24, 41%, 84%, 0.65);
    }
    p {
      margin: 1rem 0;
      color: $accent;
    }
    .product-page-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
      h4 {
        font-size: 2rem;
      }
      .pp-customer-feedback-container {
        color: rgb(255, 187, 0);
      }
    }
  }
}
