@import "./variables.scss";

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .prod {
    background: hsl(0, 0, 100%);
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    overflow: hidden;
    box-shadow: $shadow;
    border-radius: 5px;
    border: 1px solid $main;
    .image-container {
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 150px;
        max-width: 350px;
        object-fit: contain;
      }
    }
    .product-details-container {
      // transform: translateY(100%);
      // transition: all 0.5s ease-in-out;
      background: $main;
      border-radius: 5px;
      padding: 1rem 2rem 2rem 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      button {
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        color: $main;
        background: $main-font;
        border: 1px solid $accent;
        padding: 1rem;
        margin: 1rem auto;
        transition: all 0.5s ease-in-out;
      }
      button:hover {
        background: $accent;
        color: $main-font;
      }
      .link-to-product {
        cursor: pointer;
      }
      .link-to-product:active {
        transform: scale(0.95);
      }
      .link-to-product:hover {
        h3 {
          color: $main-font;
        }
        p {
          color: $accent;
        }
      }
      h3 {
        color: $accent;
        transition: all 0.5s ease-in-out;
      }
      p {
        margin: 1rem 0;
        transition: all 0.5s ease-in-out;
      }
      .product-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4 {
          font-size: 2rem;
        }
        .customer-feedback-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          font-weight: bold;
          color: $accent;
          .rating-container {
            color: rgb(255, 187, 0);
          }
        }
      }
    }
  }
  // .prod:hover {
  //   .product-details-container {
  //     transform: translateY(0);
  //   }
  // }
}
